/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 60px 0;
  width: 84rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  /* border: 2px solid red; */
}

.footer__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.footer__section {
  flex-basis: 25%;
  padding: 20px;
}

.footer__section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer__section p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.footer__section ul {
  list-style: none;
  padding: 0;
}

.footer__section ul li {
  margin-bottom: 10px;
}

.footer__section a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer__section a:hover {
  color: #f87171;
}

.footer__social a {
  font-size: 1.2rem;
  margin-right: 15px;
  color: #ddd;
  transition: color 0.3s ease-in-out;
}

.footer__social a:hover {
  color: #f87171;
}

.footer__bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #444;
}

.footer__bottom p {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.footer__bottom a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer__bottom a:hover {
  color: #f87171;
}
.socialMeida {
  width: 100%;
  text-align: center;
}
